:root{
    --bgcolor1: #EF5B0C;
    --bgcolor2: linear-gradient(to bottom,#0f2027, #203a43, #2c5364);
    --txtcolor1: #D4F6CC;
    --txtcolor2: #3CCF4E;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto slab, serif;
}

header{
    width: 100vw;
    background: var(--txtcolor2);
    position: fixed;
}

nav{
    display: flex;
    justify-content: flex-end;
    height: 60px;
}


nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    width: 40vw;
}

nav a{
    color: var(--txtcolor1);
    text-decoration: none;
    font-size: 20px;
}

nav a:hover{
    color: #EF5B0C;
}

#welcome-section{
    height: 100vh;
    background: linear-gradient(to bottom,#0f2027, #203a43, #2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-section h1{
    color: var(--txtcolor1);
    font-size: 60px;
}

#welcome-section p{
    color: var(--txtcolor2);
    font-size: 20px;
}

#projects{
    background: var(--bgcolor1);
    color: var(--txtcolor1);
    height: 80vh;
}

#title-projects{
    text-align: center;
    padding: 40px;
    letter-spacing: 5px;
    font-size: 30px;
}

.project-tile{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: div div div;
    gap: 10px;
    align-items: center;
    justify-items: center;
}

.btn{
    text-decoration: none;
    background: var(--bgcolor2);
}

.btn img{
    width: 100%;
}

.btn p{
    height: 40px;
    text-align: center;
    padding: 5px;
    color: var(--txtcolor1);
    font-size: 21px;
}

.btn:hover{
    opacity: 0.8;
    letter-spacing: 1px;
}

#profile-link{
    height: 60vh;
    text-align: center;
    background: var(--bgcolor2);
    color: var(--txtcolor1);
    font-size: 25px;
}

#profile-link h2{
    padding-top: 150px;
}

#profile-link p{
    font-size: 15px;
    font-style: italic;
    color: var(--txtcolor2);
    padding-bottom: 75px;
}

#profile-link a{
    color: var(--txtcolor1);
    word-spacing: 10px;
    text-decoration: none;
    font-size: 25px;
}

#profile-link a:hover{
    color: #EF5B0C;
}

.container-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-links ul{
    display: flex;
    justify-content: space-around;
    width: 500px;
    list-style-type: none;
}

footer{
    background-color: var(--bgcolor1);
    height: 15vh;
    color: var(--txtcolor1);
    text-align: center;
    padding: 50px;
}

footer a{
    color: var(--txtcolor1);
    text-decoration: none;
}

footer a:hover{
    color: var(--txtcolor2);
}

@media screen and (max-width:900px) {
    #projects{
        padding: 50px 50px;
        width: 100%;
        height: 100%;
    }

    .btn p{
        font-size: 15px;
    }
}

@media screen and (max-width:630px) {
    #welcome-section h1{
        font-size: 35px;
    }

    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul{
        width: 100vw;
    }
    
    #projects{
        padding: 50px 0;
        width: 100%;
        height: 100%;

    }

    .project-tile{
        display: flex;
        flex-direction: column;
    }

    .btn p{
        font-size: 20px;
    }
}

@media screen and (max-width:400px) {
    #welcome-section h1{
        padding: 0 20px;
        font-size: 35px;
    }
    #welcome-section p{
        padding: 0 20px;
    }

    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul{
        width: 100vw;
    }
    
    #projects{
        padding: 50px 0;
        width: 100%;
        height: 100%;

    }

    .project-tile{
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }
    .btn p{
        font-size: 15px;
    }

    #profile-link a{
        font-size: 15px;
    }
}